repos:
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: '25.11.0'
    hooks:
      - id: black
  - repo: https://github.com/PyCQA/isort
    rev: '7.0.0'
    hooks:
      - id: isort
  - repo: https://github.com/pycqa/flake8
    rev: '7.3.0'
    hooks:
      - id: flake8
  - repo: https://github.com/homebysix/pre-commit-macadmin
    rev: 'v1.21.1'
    hooks:
      - id: check-autopkg-recipes
        args: [
            '--recipe-prefix',
            'com.github.its-unibas.',
            'ch.unibas.its.git.mcs.',
            # '--strict',
            '--',
          ]
      - id: forbid-autopkg-overrides
      - id: forbid-autopkg-trust-info
